@import url("fonts/AzoSans/stylesheet.css");

body {
    /*background-color: rgb(255, 123, 0);*/
    background-image: 
    url("/images/background/Vector1.png"), 
    url("/images/background/Vector2.png"), 
    url("/images/background/Vector3.png"), 
    url("/images/background/Vector4.svg"),
    url("/images/background/Subtract.svg"),
    url("/images/background/Subtract2.svg"),
    url("/images/background/Footer.svg");
    
    background-repeat: no-repeat;
    background-position: 
    right top,
    right top,
    right top,
    right top,
    calc(50% + 132px) 3131px,
    calc(50% + 132px) 4429px,
    calc(50% + 132px) 5888px;
}

/*---Навигатор---*/

.navbar {
    margin-top: 36px;
    margin-left: 40px;
    margin-right: 36px;
    margin-bottom: 30px;
    padding: 0;
    /*background-color: rgb(255, 123, 0);*/
}

.nav-item {
    margin-left: 30px;
    white-space: nowrap;
}

.navbar-nav .nav-item a {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;

    text-emphasis-color: #ff0084;
}

.navbar-nav .nav-item .btn {
    border-radius: 52px;

    width: 147px;
    height: 48px;

    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #191B21;
}

/*---Секция 1---*/

.section-intro {
    /*background-color: rgb(255, 255, 255);*/
    /*padding-top: 175px;*/

    background-image: url("/images/people/youngman.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 785px
}

.section-intro .container {
    padding-top: 175px;

    background-image: url("/images/people/glassesman.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) top;
    height: 785px
}

.section-intro .intro-tagline-text {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 54px;
    /* identical to box height, or 300% */

    color: #2278D5;
}

.section-intro .intro-promotion {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    /* or 112% */

    color: #191B21;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.3);

    margin-top: 5px;
    margin-bottom: 30px;
}

.section-intro .intro-comment {
    font-family: 'Azo Sans Lt';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #191B21;

    opacity: 0.6;
}

.section-intro .btn-learn-more {
    width: 147px;
    height: 48px;

    background: #22A75D;
    border-radius: 52px;
    border: 0;

    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 40px;
}

/*---Секция 2---*/

.section-cards {
    padding-top: 106px;
    height: 1738px;
    background-image: url("/images/background/MiddleVector.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 132px) 524px;
    background-size: 2493px 1212px;
}

.section-cards .cards-first {
    text-align: center;
    white-space: nowrap;

    width: 777px;
    height: 930px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px 0 69px;

    background: #F2F0F4;
    border-radius: 25px;

    margin-right: 20px;

    background-image: url("/images/people/glassesboy.svg"), url("/images/background/ShadowMiggleVectorFirst.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 92px) bottom, bottom;
}

.section-cards .cards-second {
    text-align: center;
    white-space: nowrap;

    width: 777px;
    height: 930px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px 0 69px;

    background: #F2F0F4;
    border-radius: 25px;

    margin-right: 20px;

    background-image: url("/images/people/youngboy.svg"), url("/images/background/ShadowMiggleVectorSecond.svg");
    background-repeat: no-repeat;
    background-position: right bottom, bottom;
}

.section-cards .cards-number {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 54px;

    text-decoration-line: none;

    color: #191B21;

    opacity: 0.3;

    margin-bottom: 40px;
}

.section-cards .cards-title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    color: #191B21;

    margin-bottom: 30px;
}

.section-cards .cards-title .cards-title_green {
    color: #22A75D;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.section-cards .cards-title .cards-title_blue {
    color: #2278D4;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.section-cards .cards-comment {
    font-family: 'Azo Sans Lt';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #191B21;

    opacity: 0.6;
}

.section-cards .cards-footer-logo {
    padding-bottom: 172px;
    margin-top: 172px;
    height: 206px;
}

.section-cards .cards-footer-title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;

    color: #F7F5F9;

    margin-top: 170px;
    margin-left: 77px;
}

.section-cards .cards-footer-comment {
    font-family: 'Azo Sans Tn';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;

    opacity: 0.6;

    margin-top: 184px;
    margin-left: 175px;
}

.section-cards .cards-footer-bigger {
    font-family: 'Azo Sans';
}


/*---Секция 3---*/

.section-years {
    padding-top: 140px;
    margin-bottom: 390px;

    white-space: nowrap;

    background-image: url("/images/objects/PaperAirPlane.svg");
    background-repeat: no-repeat;
    /*background-position: calc(50% - 15px) calc(50% - 15px);*/
    background-position: calc(100% - 40px) 30px;
}

.section-years .years{
    background-image: url("/images/objects/LineToCircles.svg");
    background-repeat: no-repeat;
    /*background-position: calc(50% - 15px) calc(50% - 15px);*/
    background-position: 3px calc(100% - (100% - 78px));
}

.section-years .years-text {
    margin-right: 80px;
}

.section-years .years-text_Q {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    /* identical to box height, or 338% */

    color: #22A75D;
}

.section-years .years-text_year {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */

    color: #191B21;
}

.section-years .years-list-text {
    font-family: 'Azo Sans';
    font-style: normal;
}

.section-years .years-list-text_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* or 189% */

    color: #191B21;

    opacity: 0.7;
}

.section-years .years-list-text_num {
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
    /* identical to box height, or 283% */
    color: #2278D4;
    margin-right: 21px;
}

.section-years img {
    margin-bottom: 100px;
}

/*---Секция 4---*/

.section-description {
    padding-top: 85px;
    padding-bottom: 85px;

    background-image: url("/images/objects/Rocket.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 145px) top;
}

.section-description .description_title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height, or 150% */

    color: #191B21;
    padding-bottom: 20px;
}

.section-description .description_text {
    font-family: 'Azo Sans Lt';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #191B21;

    opacity: 0.6;
    margin-bottom: 40px;
}

.section-description .description_text-bold {
    font-family: 'Azo Sans Md';
    /*font-weight: bold;*/
}

/*---Секция 5---*/

.section-presale {
    margin-top: 340px;
}

.section-presale .presale_title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    /* identical to box height, or 112% */
    color: #F7F5F9;
    margin-bottom: 40px;
}

.section-presale .presale-block-first {
    width: 511px;
    height: 585px;

    background: #FFFFFF;
    border-radius: 25px;

    background-image: url("/images/objects/PhaseOne.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.section-presale .presale-block-second {
    width: 511px;
    height: 585px;

    background: #FFFFFF;
    border-radius: 25px;

    background-image: url("/images/objects/PhaseTwo.svg");
    background-repeat: no-repeat;
    background-position: top;

    margin: 60px 20px 0 20px;
}

.section-presale .presale-block-third {
    width: 511px;
    height: 585px;

    background: #FFFFFF;
    border-radius: 25px;

    background-image: url("/images/objects/PhaseThree.svg");
    background-repeat: no-repeat;
    background-position: top;
}

.section-presale .presale-block_title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    /* identical to box height, or 169% */
    text-align: center;

    color: #191B21;

    margin-top: 170px;
    margin-bottom: 4px;
}

.section-presale .presale-block_dates {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;

    color: #191B21;

    opacity: 0.8;

    margin-bottom: 70px;
}

.section-presale .presale-block_exchange {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    text-align: center;
    text-wrap: nowrap;

    color: #191B21;

    opacity: 0.8;
    margin: 0 140px 20px 140px;
}

.section-presale .presale-block_cap {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;

    color: #191B21;

    opacity: 0.8;
    margin-bottom: 10px;
}

.section-presale .presale-block_capbold {
    font-family: 'Azo Sans Md';
}

.FirstImage {
  position: absolute; 
  top: 349px;       
  left: calc(50% - 115px - 170px);     
  z-index: 10;     
}

.SecondImage {
  position: absolute; 
  top: 349px;       
  left: calc(50% + 290px);     
  z-index: 10;     
}

/*---Секция 6---*/

.section-buy {
    margin-top: 90px;
}

.section-buy .buy-title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    /* identical to box height, or 150% */

    color: #F7F5F9;
    margin-bottom: 30px;
}

.section-buy .buy-text {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;

    color: #FFFFFF;
}

.section-buy .ChevronImage {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

/*---Секция Футер---*/

.section-footer {
    margin-top: 324px;
    margin-bottom: 178px;
}

.section-footer .footer-sign {
    margin-left: 66px;
    margin-right: 66px;

    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

    opacity: 0.16;

}

.section-footer .container {
    display: flex;
    justify-content: center;
}

.section-footer .footer-btn-top {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

.section-footer .footer-bottom {
    margin-top: 128px;
}

.section-footer .footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.section-footer .footer-bottom .footer-bottom-links {
    text-align: center; 
}

.section-footer .footer-bottom .footer-bottom-author .footer-bottom-author_rights {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    text-align: right;

    color: #FFFFFF;
}

.section-footer .footer-bottom .footer-bottom-author .footer-bottom-author_design {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration-line: underline;

    color: #FFFFFF;
    opacity: 0.3;
}