@import url("fonts/AzoSans/stylesheet.css");

body {
    /*background-color: rgb(255, 123, 0);*/
    background-image: 
    url("/images/background/Vector1.png"), 
    url("/images/background/Vector2.png"), 
    url("/images/background/Vector3.png"), 
    url("/images/background/Vector4.svg");
    
    background-repeat: no-repeat;
    background-position: 
    right top,
    right top,
    right top,
    right top;
}

/*---Навигатор---*/

.navbar {
    margin-top: 36px;
    margin-left: 40px;
    margin-right: 36px;
    margin-bottom: 30px;
    padding: 0;
    /*background-color: rgb(255, 123, 0);*/
}

.nav-item {
    margin-left: 30px;
    white-space: nowrap;
}

.navbar-nav .nav-item a {
    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: -0.02em;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;

    text-emphasis-color: #ff0084;
}

.navbar-nav .nav-item .btn {
    border-radius: 52px;

    width: 147px;
    height: 48px;

    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #191B21;
}

/*---Секция 1---*/

.section-intro {
    /*background-color: rgb(255, 255, 255);*/
    /*padding-top: 175px;*/

    background-image: url("/images/people/youngman.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 785px
}

.section-intro .container {
    padding-top: 175px;

    background-image: url("/images/people/glassesman.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) top;
    height: 785px
}

.section-intro .intro-tagline-text {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 54px;
    /* identical to box height, or 300% */

    color: #2278D5;
}

.section-intro .intro-promotion {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    /* or 112% */

    color: #191B21;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.3);

    margin-top: 5px;
    margin-bottom: 30px;
}

.section-intro .intro-comment {
    font-family: 'Azo Sans Lt';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #191B21;

    opacity: 0.6;
}

.section-intro .btn-learn-more {
    width: 147px;
    height: 48px;

    background: #22A75D;
    border-radius: 52px;
    border: 0;

    font-family: 'Azo Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 40px;
}

/*---Секция 2---*/

.section-cards {
    padding-top: 106px;
    height: 1738px;
    background-image: url("/images/background/MiddleVector.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 132px) 524px;
    background-size: 2493px 1212px;
}

.section-cards .cards-first {
    text-align: center;
    white-space: nowrap;

    width: 777px;
    height: 930px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px 0 69px;

    background: #F2F0F4;
    border-radius: 25px;

    margin-right: 20px;

    background-image: url("/images/people/glassesboy.svg"), url("/images/background/ShadowMiggleVectorFirst.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 92px) bottom, bottom;
}

.section-cards .cards-second {
    text-align: center;
    white-space: nowrap;

    width: 777px;
    height: 930px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 64px 0 69px;

    background: #F2F0F4;
    border-radius: 25px;

    margin-right: 20px;

    background-image: url("/images/people/youngboy.svg"), url("/images/background/ShadowMiggleVectorSecond.svg");
    background-repeat: no-repeat;
    background-position: right bottom, bottom;
}

.section-cards .cards-number {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 54px;

    text-decoration-line: none;

    color: #191B21;

    opacity: 0.3;

    margin-bottom: 40px;
}

.section-cards .cards-title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    color: #191B21;

    margin-bottom: 30px;
}

.section-cards .cards-title .cards-title_green {
    color: #22A75D;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.section-cards .cards-title .cards-title_blue {
    color: #2278D4;
    text-decoration: underline;
    text-underline-offset: 9px;
}

.section-cards .cards-comment {
    font-family: 'Azo Sans Lt';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #191B21;

    opacity: 0.6;
}

.section-cards .cards-footer-logo {
    padding-bottom: 172px;
    margin-top: 172px;
    height: 206px;
}

.section-cards .cards-footer-title {
    font-family: 'Azo Sans Md';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;

    color: #F7F5F9;

    margin-top: 170px;
    margin-left: 77px;
}

.section-cards .cards-footer-comment {
    font-family: 'Azo Sans Tn';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;

    opacity: 0.6;

    margin-top: 184px;
    margin-left: 175px;
}

.section-cards .cards-footer-bigger {
    font-family: 'Azo Sans';
}


/*---Секция 3---*/

.section-years {
    margin-top: 140px;
}